<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for post in posts %}
        <img src="{{post.url }}" alt="{{post.title}}" width="400px;">
    {% endfor %}
    <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="img">
        <input type="text" name="title" placeholder="file name">
        <button type="submit">post</button>
    </form>
</body>
</html>