<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add</h1>
    <form action="{% url 'add' pk %}" method="POST">
        {% csrf_token %}
        <!-- <input type="text" name='article' placeholder="article"><br/><br/> -->
        <input type="text"  name='title' placeholder="글의 제목"><br/><br/>
        <textarea name="content" placeholder="글의 내용"></textarea><br/><br/>
        <input type="text" name="writer" placeholder="작성자"><br/><br/>
        <button type="submit">게시물 추가하기</button>
    </form>
</body>
</html>